<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Панель управления</h1>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Профит (Сегодня)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">${{ today }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Профит (Неделя)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">${{ week }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Профит (Месяц)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">${{ month }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Профит (Все время)</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">${{ all }}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card shadow mb-4" style="width: 50%;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Последние 20 регистраций</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableUsersRegistration" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Имя</th>
                        <th>Steam</th>
                        <th>Дата регистрации</TH>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Имя</th>
                        <th>Steam</th>
                        <th>Дата регистрации</TH>
                    </tr>
                    </tfoot>
                    <tbody>
                    {{#each usersRegistration}}
                        <tr>
                            <td>{{ this.id }}</td>
                            <td><a href="/api/admin/user/{{ this.id }}">{{ this.username }}</a></td>
                            <td><a href="https://steamcommunity.com/profiles/{{ this.steamId }}">Steam</a></td>
                            <td> {{formatDate this.created_at}}</td>
                        </tr>
                    {{/each }}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4" style="margin-left: 10px; width: 49%;">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Последние 20 победителей</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTableLastWinners" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Пользователь</th>
                        <th>Банк</th>
                        <th>Комиссия</th>
                        <th>Шанс</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Пользователь</th>
                        <th>Банк</th>
                        <th>Комиссия</th>
                        <th>Шанс</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {{#each history}}
                        <tr>
                            <td><a href="/api/admin/game/{{ this.id}}">{{ this.id }}</a></td>
                            <td><a href="/api/admin/user/{{ this.user.id }}">{{ this.user.username }}</a></td>
                            <td>{{ this.bank }}$</td>
                            <td>{{ this.commission_bank }}$</td>
                            <td>{{ this.chance }}%</td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('#dataTableUsersRegistration').dataTable({
        "order": [[ 0, 'desc' ]]
    });

    $('#dataTableLastWinners').dataTable({
        "order": [[ 0, 'desc' ]]
    });
</script>